.nav-pagination {
  width: 100%;
  padding: 1rem;
  background-color: white;
  transform: translateY(-2px);
  .pagination {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .pagination-item {
      margin-right: 1rem;
      &:last-child {
        margin-right: 0;
      }
      .pagination-link {
        font-size: 1.2rem;
        background-color: transparent;
        // padding: .5rem 1rem;
        width: 35px;
        height: 35px;
      }
      .active{
        background-color: grey;
        color: white;
        border-radius: 5px;
      }
    }
  }
}

