.nav-pagination {
  width: 100%;
  padding: 1.5rem;
  background-color: white;
  transform: translateY(-2px);
  margin-bottom: 100px;
  .pagination {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    .pagination-link {
      font-size: 1.2rem;
      background-color: transparent;
      margin-right: 1rem;
      padding: .5rem 1rem;
      &:last-child {
        margin-right: 0;
      }
    }
    .active {
      background-color: grey;
      color: white;
      border-radius: 5px;
    }
  }
  .arrow-btn {
    background-color: transparent;
    padding: .5rem;
    margin: 0 1rem;
  }
}
