@import '../../scss/utils.scss';

.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.top-bar {
  display: flex;
  flex-direction: column;
  background-color: $red;
  @include mq(desktop) {
    flex-direction: row-reverse;
    padding: 0 1rem;
  }
}
.top-bar-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
}
.social-media {
  display: flex;
  li {
    margin-right: 20px;
    @include mq(desktop) {
      margin-right: 25px;
    }
    &:last-child {
      padding-right: 0;
    }
    a {
      display: flex;
      align-items: center;
      color: $white;
      font-size: 1.1rem;
      svg {
        width: 30px;
        height: 30px;
        padding-right: 8px;
      }
    }
    &:hover {
      opacity: .8;
    }
  }
}
.logo {
  width: 100%;
  font-size: 2rem;
  color: $white;
  text-transform: uppercase;
  background-color: $dark;
  padding: 1rem;
  letter-spacing: 0.2rem;
  text-align: center;
  cursor: pointer;
  @include mq(tablet) {
    text-align: left;
  }
  @include mq(desktop) {
    background-color: transparent;
    font-size: 3rem;
  }
}
.hamburger {
  display: flex;
  cursor: pointer;
  border: 0;
  background-color: transparent;
  padding: 5px;
  &:focus {
    outline: none;
  }
  @include mq(desktop) {
    display: none;
  }
  div {
    width: 36px;
    height: 24px;
    display: inline-block;
    position: relative;
    @mixin hamburger-content {
      width: 100%;
      height: 3px;
      background-color: $white;
      position: absolute;
    }
    span {
      @include hamburger-content;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      &::before,
      &::after {
        @include hamburger-content;
        content: '';
        left: 0;
        transition: transform 0.2s ease-in-out;
      }
      &::before {
        top: -10px;
      }
      &::after {
        top: 10px;
      }
    }
  }
}
.hamburger--active {
  div {
    span {
      background-color: transparent;
      &:before {
        transform: translateY(10px) rotate(45deg);
      }
      &:after {
        transform: translateY(-10px) rotate(-45deg);
      }
    }
  }
}
.navigation {
  display: flex;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  padding: .5rem;
  @include mq(tablet) {
    justify-content: flex-end;
  }
  @include mq(desktop) {
    justify-content: flex-start;
    background: $dark;
    padding: 0;
  }
  ul {
    position: relative;
    display: flex;
    flex-direction: column;
    @include mq(desktop) {
      flex-direction: row;
    }
    li {
      padding: 1.2rem 0;
      a {
        padding: 1.2rem 2.5rem;
        font-size: 1.2rem;
        font-weight: bold;
        color: $white;
        white-space: nowrap;
        transition: .2s;
        &:hover {
          opacity: .7;
        }
        @include mq(desktop) {
          font-size: 1.2rem;
          &:hover {
            background-color: $light-grey;
            opacity: 1;
          }
        }
      }
    }
  }
}
