@import '../../scss/utils.scss';

.news {
  display: none;
  width: 100%;
  max-width: 100%;
  background-color: $orange;
  transform: translateY(80px);
  @include mq(desktop) {
    max-width: 400px;
    min-width: 400px;
    margin: 0 2.5rem;
    display: block;
  }
  .title {
    display: flex;
    align-items: center;
    padding: 1.5rem 1.5rem .5rem;
    h2{
      color: $white;
    }
    .triangle {
      width: 0;
      height: 0;
      border-top: 12px solid transparent;
      border-left: 22px solid $white;
      border-bottom: 12px solid transparent;
      padding-right: 10px;
      @include mq(tablet) {
        border-top: 16px solid transparent;
        border-left: 26px solid $white;
        border-bottom: 16px solid transparent;
      }
      @include mq(desktop) {
        border-top: 12px solid transparent;
        border-left: 22px solid $white;
        border-bottom: 12px solid transparent;
      }
    }
  }
  .content{
    margin-top: 1rem;
    .news-link{
      color: $white;
      padding: 1.2rem 1.5rem;
      border-bottom: 1px solid $white;
      cursor: pointer;
      transition: .2s;
      &:hover{
        background-color: darken($orange, 7%);
      }
      &:last-child{
        border-bottom: none;
      }
      a {
        color: $white;
        font-weight: bold;
        @include mq(desktop) {
          font-size: 1.2rem;
          line-height: 1.5rem;
        }
      }
      span{
        font-size: 1.05rem;
        padding-bottom: .5rem;
        display: block;
        font-weight: lighter;
        text-transform: uppercase;
        color: $white;
        @include mq(desktop) {
          font-size: 1rem;
        }
      }
    }
  }
}